ODDS_API="77a642670b38d7f26e2794d0fe7d1fc2"
ODDS_API_BASE_URL="https://api.the-odds-api.com/v4"
ODDS_API_MAX_CALLS=5
ODDS_API_REGIONS="us"
ODDS_API_MARKETS="h2h"
ODDS_API_ODDS_FORMAT="decimal"
ODDS_API_DATE_FORMAT="iso"
ODDS_API_SPORTS=""
